
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.todo-container {
  width: 700px;
  margin: 40px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}


.todo-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}


.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.input-section input {
  flex: 1;
  padding: 10px 12px;
  border: 2px solid #dcdcdc;
  border-radius: 6px;
  font-size: 16px;
}

.input-section input:focus {
  border-color: #6c63ff;
  outline: none;
}

.btn {
  padding: 10px 14px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}


.btn-add {
  background: #6c63ff;
  color: white;
}

.btn-add:hover {
  background: #584cf0;
}


.edit-section {
  display: flex;
  gap: 10px;
  margin-top: 0px;
}

.btn-edit {
  background: #00b894;
  color: white;
}

.btn-edit:hover {
  background: #009973;
}


.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #fafafa;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  margin-top: 10px;
  align-items: center;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: gray;
}

.todo-item span {
  font-size: 17px;
  font-weight: 500;
}
span{
  margin-left: 20px;
}

.item-buttons button {
  margin-left: 8px;
}

.btn-del {
  background: #ff5252;
  color: white;
}

.btn-del:hover {
  background: #e64545;
}

.btn-done {
  background: #2ecc71;
  color: white;
}

.btn-done:hover {
  background: #27ae60;
}

.btn-small {
  padding: 6px 10px;
  font-size: 13px;
}

.text{
  color: black;
}